body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  line-height: 75%;
}

p {
  font-size: 1em;
  line-height: 75%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link {
  color:#0000EE;
}
a:visited {
  color:#551A8B;
}
a:hover {
   color:#0070BC;
}

a:active {
   color:#EE0000;
}
